// Place all the styles related to the rosters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.draftable {
  display: block;
  float: left;
  margin-right: 1em;
  margin-bottom: 3em;

  td, th {
    font-size: .8em;
  }
}

.summary {
  display: block;
  float: left;
  margin-right: 12em;
  margin-bottom: 3em;

  p {
    margin: 13px 0;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
